$red: #de648a;
$darkRed: #661e31;
$redBkg: #f5d4da;
$redBorder: #f4cbd5;

$blue: #41a1e5;
$lightBlue: #cddeff;

$gray: #949498;
$lightGray: #dadbdf;
$lightGrayBorder: #f4f4f6;
$lightGrayShadow: #f8f8fb;
$darkGray: #515358;

$buttonBorder: #c1d0dc;
