<app-card
  title="Display Rules"
>
  <app-card-small
    title="Inclusion Rules"
    subtitle="Where would you like to display your campaign?"
  >
    <app-rules-form-list></app-rules-form-list>
  </app-card-small>
  <app-card-small
    title="Exclusion Rules"
    subtitle="Where would you like to NOT display your campaign?"
  >
    <app-rules-form-list></app-rules-form-list>
  </app-card-small>
</app-card>

<div class="icons-credentials">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
